html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body { 
    background: url(../imagens/capa.png), 
                url(../imagens/ruido.png), 
                linear-gradient(60deg, #FF4169, #7C26F8); 
    background-attachment: fixed; 
    font-family: Helvetica, Arial, sans-serif;
}
/*
- Barra de Navegação
*/
nav.navbar-transparente {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9Bf0E1;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
}

.divisor {
    width: 1px;
    background: #FFFFFF;
    margin: 10px 15px;
}

/*
Section Home
*/
.capa {
    text-align: center;
}

.btn-custom {
    color: #FFFFFF;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-purple {
    background: #7C26F8;
}

.btn-purple:hover {
    background: #6207E3;
    color: #FFFFFF;
}

.btn-white {
    border: 2px solid #FFFFFF;
}

.btn-white:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.rotacionar {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    padding-left: 80px;
}

/*
Tipografia
*/

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #FFFFFF;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h2, h3 {
    color: #7C25F8;
}

#recursos h2 {
    color: #FFFFFF;
}

#recursos h3 {
    color: #9Bf0E1;
}

/* Extra Small Devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em
    }
    h3 {
        font-size: 1.2em;
    }
    .btn-custom {
        margin: 5px 0px;
    }
    .navbar-brand {
        padding-left: 15px;
    }
    .navbar-toggler {
        margin-right: 1em;
    }
    .navbar-nav {
        padding-left: 15px;
    }
}

/* Small Devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em
    }
    h3 {
        font-size: 1.2em;
    }
    .btn-custom {
        margin: 5px 0px;
    }
    .navbar-toggler {
        margin-right: 1.5em;
    }
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { h1 {font-size: 4em;} h2 {font-size: 2em} h3 {font-size: 1.5em;} }

/* Large Devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { h1 {font-size: 5em;} }

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { h1 {font-size: 6em;} }